body {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}

.txt {
    width: 100%;
    margin: 0;
    padding: 20px 0;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.img {
    margin: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    max-width: 400px; 
    text-align: start;
}

.card {
    overflow: hidden;
}

.img img {
    max-width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

section {
    display: flex;
    border: 1px solid grey;
    flex-wrap: wrap;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

article {
    padding: 5px;
    max-width: 100%;
    border: 1px solid grey;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

@media screen and (max-width: 768px) {
    body {
        flex-direction: column;
    }
    
    .img {
        max-width: 100%;
        margin: 10px;
    }
}

@media screen and (max-width: 480px) {
    main {
        gap: 10px;
    }
    
    .txt {
        padding: 10px 0;
    }
    
    article {
        padding: 3px;
    }
}